MEMORY {
    ZP:     start = $00,    size = $0100, type = rw, file = "";
    SP:     start = $0100,  size = $0100, type = rw, file = "";
    OAM:    start = $0200,  size = $0100, type = rw, file = "";
    RAM:    start = $0300,  size = $0500, type = rw, file = "";
    HDR:    start = $0000,  size = $0010, type = ro, file = %O, fill = yes, fillval = $00;

    # TODO think of a system to define the banks in code?
    # Define new memory banks here
    # PRGLow: start = $8000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = 0;
    # PRG_A0: start = $a000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = 1;
    # PRG_C0: start = $c000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = 2;
    # PRGLast:start = $e000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = 3;

    PRGA_00:start = $a000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $00;
    PRGA_01:start = $a000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $01;
    PRGA_02:start = $a000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $02;
    PRGA_03:start = $a000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $03;
    PRGA_04:start = $a000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $04;

    # blank space in my hack. i've set it up for bankable dpcm though
    PRGC_00:start = $c000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $05;

    PRGLow: start = $8000,  size = $2000, type = ro, file = %O, fill = yes, fillval = $ff, bank = $06;
    
    ALIGN:  start = $e000, size = $25, type = ro, file = %O, fill = yes, bank = $07;
    PRGFix: start = $e025,  size = $1fdb, type = ro, file = %O, fill = yes, fillval = $ff, bank = $07;

    CHR:    start = $0000,  size = $10000, type = ro, fill = yes, file = %O, fillval = $00;
}

SEGMENTS {
    INESHDR:    load = HDR,     type = ro;
    ZEROPAGE:   load = ZP,      type = zp;
    SHORTRAM:   load = SP,      type = bss;
    OAM:        load = OAM,     type = bss;
    BSS:        load = RAM,     type = bss;

    # User created code defaults to the first A0 bank
    OBJECT:     load = PRGA_00, type = ro;
    PLAYER:     load = PRGA_01, type = ro;
    MUSIC:      load = PRGA_01, type = ro;
    LEVEL:      load = PRGA_02, type = ro;
    TITLE:      load = PRGA_03, type = ro;
    METASPRITE: load = PRGA_04, type = ro;

    DPCM:       load = PRGC_00, type = ro, optional=yes;

    CODE:       load = PRGLow, type = ro;
    LOWCODE:    load = PRGLow,  type = ro;
    COLLISION:  load = PRGLow, type = ro;

    RENDER:     load = PRGFix,  type = ro;
    FIXED:      load = PRGFix,  type = ro;
    OAMALIGNED: load = ALIGN, type = ro;
    
    VECTORS:    load = PRGFix, type = ro,  start = $fffa;

    CHR:        load = CHR,     type = ro;
    # CHREDIT:    load = CHR,     type = overwrite, start = $0710;
}
